*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/dictionaries
.DS_Store
/build
/.idea/gradle.xml
/CircleIndicator.iml
/circleindicator/circleindicator.iml
/LoopingViewPager/LoopingViewPager.iml
/sample/sample.iml
